[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = DE
ST = BY
L = USB
O = Home
CN =<FQDN>

[ v3_req ]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1   = <FQDN>
DNS.2   = <HOSTNAME>
IP.1    = <IP-Address>
